.begin
{
		background-image: url('Images/background.jpg');	
}

.title
{

	font-size:50px;
}

.progressBox
{

	height:50px;	
}

.visibilityBox
{
	background-color: magenta;
	text-align: center;
	border: 5px solid black; 
}

.visibilityBox2
{
	background-color: magenta;
	text-align: center;
	border-top: 5px solid black;
	border-left: 5px solid black;
	border-right: 5px solid black;	
	border-bottom: 1px solid black;
}

.description
{
	text-align: center;
	border-bottom: 5px solid black; 
}

.background
{
	 background-color:purple;
	background-image: url('Images/background2.jpg');
	height: 551px;
}

.questions
{
	background-color:magenta;
	border-left: 5px solid black;
	border-right: 5px solid black;
	border-bottom: 5px solid black;
}

.showBox
{
	height: 50px;
	border-left: 5px solid black;
	border-right: 5px solid black;
	border-bottom: 5px solid black;
	text-align: center;
	font-size: 25px;
<<<<<<< HEAD
	background-color:magenta;
=======
	background-color:magenta;	
>>>>>>> 0c9e32924f9b3fadef4ed0718cc79d79172ed2cd
}



.colorBox
{
	height:250px;
	background-color: blue;
	border-left: 5px solid black;
	border-right: 5px solid black;
	border-bottom: 5px solid black;
}

.visibilityBox
{
		border: 5px solid black;
		background-color: magenta;
		text-align: center;
}

.visibilityBox2
{
	color:black;
	background-color:magenta;
	border-left: 5px solid black;
	border-right: 5px solid black;
	border-top: 5px solid black;
	border-bottom: 1px solid black;	
}