*
{
	font-family: "Palatino"
}



a:visited {
  color: white;
}

.titleBox
{
	color: white;
	font-size: 50px;
	background-color: MediumBlue;
	width: 100%;
}

.title
{
	
}

.sun
{
	height: 70px;
	width: 70px;
	background-color: yellow;
	border-radius: 50%;

	float: left;

}

.navMenu
{
	text-align: center;
	color: white;
	background-color: GoldenRod;
	height: 40px;

}

.navMenuSelect
{
	position: relative;
	border: 2px solid white;
	border-radius: 50%;
	/*background-color: red;*/
	display: inline-block;
	height: 30px;
	width: 24%;
}


.navMenuList
{

	list-style-type: none;
	
}


.navMenuListItem
{
	float: left;
	margin:0 0 0 50px;
	font-size: 20px;
}


.mid
{
	background-color: white;

}

.centerImage
{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	display: block;
}


.pageIntro
{
	text-align: center;
	font-size: 25px;
	border-bottom: 10px solid MediumBlue;
}


.centerImageSight
{
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	display: none;
	
}

.sightListDiv
{
	width: 20%;
	float: left;
	background-color: GoldenRod;
	border-right: 10px solid MediumBlue;
	text-align: center;
	font-size: 25px;
	
	/*background-image: url('../Images/sand.jpg');*/

}


.sightList
{
	height: 565px;

	/*border: 3px solid Khaki;*/

}


.sightListItem
{
	border: 3px solid GoldenRod;
	background-color: MediumBlue;
	width: 100%;
	height: 50px;
	float: left;
	text-align: center;
	font-size: 30px;
	color: white;
	/*border-radius:50%;
	margin:0 0 20px 0; */
	
}


.sightPicDiv
{
	/*background-image: url('../Images/sand.jpg');*/
	background-color: snow;
}

.sightDesc
{
	background-color: Snow;
	border: 10px solid MediumBlue;
	height: 135px;
}


.end
{
	color: white;
	font-size: 20px;
	background-color: MediumBlue;
	text-align: center;
	
}